{% extends 'base.html.twig' %}

    {% block title %}As Served On Screen - Home{% endblock %}

    {% block stylesheets %}

        {{ parent() }}

        <!-- Custom styles for this template -->
        <link href="{{ asset('assets/css/cover.css') }}" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Niramit|Caveat" rel="stylesheet"> 
    
    {% endblock %}

    {% block body %}

        <div class="my-main text-center">

        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <div class="inner">
            <h3 class="masthead-brand">As Served On Screen</h3>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link active" href="#">Home</a>
                <!-- <a class="nav-link" href="#">Log In</a> -->
                <!-- <a class="nav-link" href="#">Roll Credits</a> -->
            </nav>
            </div>
        </header>

        <main role="main" class="inner cover">
            <h1 class="cover-heading">As Served On Screen</h1>
            <p class="lead">If you're hungry for more after watching a particular
                film or show, we've got you covered for the places where you can 
                dine just like they did on screen!</p>
            <p class="lead">
            <a href="{{ path('tvShows') }}" class="btn btn-lg btn-secondary">Tv Shows</a>
            <a href="{{ path('films') }}" class="btn btn-lg btn-secondary">Films</a>
            </p>
        </main>


        <div class="mt-auto"></div>
    </div>
        

{% endblock %}