{% extends 'base.html.twig' %}

    {% block title %}As Served On Screen - Home{% endblock %}

    {% block stylesheets %}

        {{ parent() }}

        <!-- Custom styles for this template -->
        <link href="{{ asset('assets/css/cover.css') }}" rel="stylesheet">
    
    {% endblock %}

    {% block body %}

        <div class="my-main text-center">

        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <div class="inner">
            <h3 class="masthead-brand">As Served On Screen</h3>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link active" href="#">Home</a>
                <a class="nav-link" href="#">Log In</a>
                <a class="nav-link" href="#">Roll Credits</a>
            </nav>
            </div>
        </header>

        <main role="main" class="inner cover">
            <h1 class="cover-heading">As Served On Screen</h1>
            <p class="lead">Have you ever been watching a show or film and thought, damn, I 
            want what they're having! Look no further! We've got restaurant information to 
            films and tv shows so you can dig in just like they do on screen!</p>
            <p class="lead">
            <a href="#" class="btn btn-lg btn-secondary">Tv Shows</a>
            <a href="#" class="btn btn-lg btn-secondary">Films</a>
            </p>
        </main>


        <div class="mt-auto"></div>
    </div>
        

{% endblock %}