{% extends 'jumbo.html.twig' %}

{% block display %}<h1 class="display-3">Episodes</h1>{% endblock %}    

{% block content %}

        <div class="album py-5 bg-light">
            <div class="container">
    
                <div class="row">

                    {% if episodes %}
                        {% for episode in episodes %}

                        <div class="col-md-4">
                            <div class="card mb-4 shadow-sm">
                            <img class="card-img-top" src="" alt="{{ episode.title }} image">
                            <div class="card-body">
                                <a href="{{ path('tvShowRestaurants', {'tvShowId': episode.tvShow.id, 'seasonId': episode.season.id, 'episodeId': episode.id}) }}">
                                    <h2 class="card-text">{{ episode.title }}</h2>
                                </a>
                                <div class="d-flex justify-content-between align-items-center">
                                    <button type="button" class="btn btn-outline-dark .btn-lg">Eat!</button>
                                </div>
                            </div>
                            </div>
                        </div>

                    {% endfor %}
                {% endif %}

                </div>
            </div>

        </div>

{% endblock %}