{% extends 'jumbo.html.twig' %}

{% block display %}<h1 class="display-3">Episodes</h1>{% endblock %}    

{% block content %}

        <div class="album py-5 bg-light">
            <div class="container">    
                <div class="row">

                    {% if episodes %}
                        {% for episode in episodes %}

                        <div class="col-md-4">
                            <div class="card mb-4 shadow-sm">
                            <div class="card-img" style="background-image: url('{{ asset("assets/images/"~episode.tvShow.imageUrl) }}');"></div>
                            <div class="card-body">
                                <a class="card-link" href="{{ path('tvShowRestaurants', {'tvShowId': episode.tvShow.id, 'seasonId': episode.season.id, 'episodeId': episode.id}) }}">
                                    <h2 class="card-text">{{ episode.title }}</h2>
                                </a>
                            </div>
                            </div>
                        </div>

                        {% endfor %}
                    {% else %}
                
                        <h2>There haven't been any episodes added yet, we're working on it though, check again soon!</h2>
                    
                    {% endif %}

                </div>
            </div>
        </div>

{% endblock %}